@charset "UTF-8";.progress-container[data-v-a10ce835]{display:flex;justify-content:center;overflow-y:hidden}.checking-tips[data-v-a10ce835]{align-items:center;display:flex;font-size:14px;justify-content:center;margin:15px 0 0}
